<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2015 The Go Authors. All rights reserved.
     Use of this source code is governed by a BSD-style
     license that can be found in the LICENSE file.  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skywire.skycoin.vpn" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/general_app_name"
        android:icon="@mipmap/icon"
    >
        <service android:name=".vpn.SkywireVPNService"
            android:description="@string/general_service_description"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>

        <activity
            android:name=".activities.main.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/general_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.servers.ServersActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/tmp_select_server_title" >
        </activity>

        <activity
            android:name=".activities.apps.AppsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/tmp_select_apps_title" >
        </activity>
    </application>

</manifest>
